<div class="header">
    <a class="logo-link" href="@Url.Action(string.Empty, "Home")">
        <img src="@Url.Content("~/Content/img/spectre.png")" />
        <h2>National Criminals Database</h2>
    </a>

    @if (this.Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
        }
        <button type="submit" class="button button-danger" onclick="javascript: document.getElementById('logoutForm').submit();">Logout</button>
    }
</div>

